In [2]:
import pandas as pd
import plotly.express as px
import plotly.io as pio
from sklearn.model_selection import train_test_split

In [3]:
#Lectura
data = pd.read_csv("datasets\loan_approval_dataset.csv")

In [4]:
print(data.shape)
data.head()

(4269, 13)

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [5]:
print(data.columns)

Index(['loan_id', ' no_of_dependents', ' education', ' self_employed',
       ' income_annum', ' loan_amount', ' loan_term', ' cibil_score',
       ' residential_assets_value', ' commercial_assets_value',
       ' luxury_assets_value', ' bank_asset_value', ' loan_status'],
      dtype='object')

In [6]:
#Seleccionamos las columnas que nos interesan y cambiamos la columna del target en 0 y 1
columnas_interes= [' cibil_score', ' income_annum', ' loan_amount', ' loan_status']
datanew = data[columnas_interes]
datanew[' loan_status'] = data[' loan_status'].replace({' Approved': 0, ' Rejected': 1})
print(datanew.shape)
datanew.head(20)

(4269, 4)

C:\Users\carli\AppData\Local\Temp\ipykernel_11032\1830786467.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datanew[' loan_status'] = data[' loan_status'].replace({' Approved': 0, ' Rejected': 1})
C:\Users\carli\AppData\Local\Temp\ipykernel_11032\1830786467.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datanew[' loan_status'] = data[' loan_status'].replace({' Approved': 0, ' Rejected': 1})

    cibil_score  income_annum  loan_amount  loan_status
0           778       9600000     29900000            0
1           417       4100000     12200000            1
2           506       9100000     29700000            1
3           467       8200000     30700000            1
4           382       9800000     24200000            1
5           319       4800000     13500000            1
6           678       8700000     33000000            0
7           382       5700000     15000000            1
8           782        800000      2200000            0
9           388       1100000      4300000            1
10          547       2900000     11200000            0
11          538       6700000     22700000            1
12          311       5000000     11600000            1
13          679       9100000     31500000            0
14          469       1900000      7400000            1
15          794       4700000     10700000            0
16          663        500000      1600000            0
17          780       2900000      9400000            0
18          736       2700000     10300000            0
19          652       6300000     14600000            0

In [7]:
#Conteo de categorías para ver si los datos estan balanceados
print(datanew[' loan_status'].value_counts(normalize = True))

 loan_status
0    0.62216
1    0.37784
Name: proportion, dtype: float64

In [8]:
#Ahora vamos a comprobar el maximo y el minimo de cada columna, se puede hacer de dos formas
for col in datanew.columns[0:3]:
    minimo = datanew[col].min()
    maximo = datanew[col].max()
    print(f'Columna: {col}, Minimo: {minimo}, Maximo: {maximo}')
    
#Con data describe podemos obtener tambien esa informacion
datanew.describe()

Columna:  cibil_score, Minimo: 300, Maximo: 900
Columna:  income_annum, Minimo: 200000, Maximo: 9900000
Columna:  loan_amount, Minimo: 300000, Maximo: 39500000

       cibil_score  income_annum   loan_amount  loan_status
count  4269.000000  4.269000e+03  4.269000e+03  4269.000000
mean    599.936051  5.059124e+06  1.513345e+07     0.377840
std     172.430401  2.806840e+06  9.043363e+06     0.484904
min     300.000000  2.000000e+05  3.000000e+05     0.000000
25%     453.000000  2.700000e+06  7.700000e+06     0.000000
50%     600.000000  5.100000e+06  1.450000e+07     0.000000
75%     748.000000  7.500000e+06  2.150000e+07     1.000000
max     900.000000  9.900000e+06  3.950000e+07     1.000000

In [9]:
#Graficamos los datos en 3 dimensiones
pio.renderers.default = 'browser'
fig = px.scatter_3d(datanew, x=' cibil_score', y=' income_annum', z=' loan_amount', color=' loan_status', size_max=6, opacity= 0.5)
fig.show()

In [10]:
#Creamos una función para extraer los datos y meterlos en un arreglo numpy
def crear_in_out(datos):
    X = datos.iloc[:,0:3].values
    Y = datos.iloc[:,3].values
    return X, Y

X, Y = crear_in_out(datanew)
print(X,Y)

[[     778  9600000 29900000]
 [     417  4100000 12200000]
 [     506  9100000 29700000]
 ...
 [     457  6500000 23900000]
 [     780  4100000 12800000]
 [     607  9200000 29700000]] [0 1 1 ... 1 0 0]

In [11]:
#Dividimos los datos en conjuntos de entrenamiento 70% validacion 15% y prueba 15%
def crear_train_val_test(X,Y):
    x_train, x_resto, y_train, y_resto = train_test_split (X, Y, test_size= 0.3, random_state=22)
    x_vl, x_test, y_vl, y_test = train_test_split(x_resto, y_resto, test_size=0.5, random_state=22)
    return x_train, y_train, x_vl, x_test, y_vl, y_test

#Ejecutamos la función
x_train, y_train, x_vl, x_test, y_vl, y_test = crear_train_val_test(X,Y)

#Verificar
print(x_train.shape, y_train.shape)
print(x_vl.shape, y_vl.shape)
print(x_test.shape, y_test.shape)

(2988, 3) (2988,)
(640, 3) (640,)
(641, 3) (641,)

In [12]:
#Vamos a hacer escalmiento de los datos entre 0 y 1(normalización)
from sklearn.preprocessing import MinMaxScaler
def escalar_datos(xtr, xvl, xts):
    scaler = MinMaxScaler()
    xtr_s = scaler.fit_transform(xtr)
    xvl_s = scaler.transform(xvl)
    xts_s = scaler.transform(xts)
    return xtr_s, xvl_s, xts_s

#Vamos a ejecutar la función vara obtener los datos escalados
x_train_s, x_vl_s, x_test_s = escalar_datos(x_train, x_vl, x_test)

#Verificamos los datos
print(x_train_s.min(axis=0), x_train_s.max(axis=0))
print(x_vl_s.min(axis=0), x_vl_s.max(axis=0))
print(x_test_s.min(axis=0), x_test_s.max(axis=0))

[0. 0. 0.] [1. 1. 1.]
[0. 0. 0.] [1.         1.         0.97959184]
[0. 0. 0.] [1.         1.         0.97193878]

In [13]:
#Vamos a crear una funcion para entrenar un modelo con un arblo de decisión (que utiliza un umbral para evaluar que camino coge)
# los cuales son inmunes al escalamiento y comparamos los resultados

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,confusion_matrix

def arbol_entrenar_modelo(xtr, ytr, xvl, yvl):
    arbol = DecisionTreeClassifier(criterion= 'entropy',max_depth=10,random_state=45)
    arbol.fit(xtr,ytr)
    train_acc= arbol.score(xtr,ytr)
    val_acc= arbol.score(xvl,yvl)
    
    print(f'Exactitud entrenamiento/validación: {100*train_acc:.2f}%/{100*val_acc:.2f}%')
    return arbol

In [14]:
#sin escalamiento
print('Desempeño SIN escalamiento de los datos de entrada:')
tree = arbol_entrenar_modelo(x_train,y_train, x_vl, y_vl)

#Con escalamiento
print('-'*40)
print('Desempeño con escalamiento de los datos de entrada:')
tree_s = arbol_entrenar_modelo(x_train_s,y_train,x_vl_s,y_vl)

Desempeño SIN escalamiento de los datos de entrada:
Exactitud entrenamiento/validación: 96.85%/94.38%
----------------------------------------
Desempeño con escalamiento de los datos de entrada:
Exactitud entrenamiento/validación: 96.85%/94.38%

In [15]:
#Ahora vamos a probar con knn que si es sensible al escalamiento, al calcular la distancia de los vecinos mas cercanos por la formula
#distancia=raizcuadrada de ((X1p-X1i)al cuad+(X2p-X2i)alcuad+(X3p-X3i)alcuad), aqui si no estan escalados la diferencia en las restas seria mucho mayor

from sklearn.neighbors import KNeighborsClassifier
def knn_entrenar_modelo(xtr, ytr, xvl, yvl):
    knn = KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2)
    knn.fit(xtr,ytr)
    train_acc= knn.score(xtr,ytr)
    val_acc= knn.score(xvl,yvl)
    print(f'Exactitud entrenamiento/validación: {100*train_acc:.2f}%/{100*val_acc:.2f}%')
    return knn

In [16]:
#sin escalamiento
print('Desempeño SIN escalamiento de los datos de entrada:')
knn = knn_entrenar_modelo(x_train,y_train, x_vl, y_vl)

#Con escalamiento
print('-'*40)
print('Desempeño con escalamiento de los datos de entrada:')
knn_s = knn_entrenar_modelo(x_train_s,y_train,x_vl_s,y_vl)

Desempeño SIN escalamiento de los datos de entrada:
Exactitud entrenamiento/validación: 76.07%/61.25%
----------------------------------------
Desempeño con escalamiento de los datos de entrada:
Exactitud entrenamiento/validación: 95.01%/94.53%

In [32]:
#Ahora vamos a hacerlo con una red neuronal, que tambien es sensible, porque cuanto mas grande sea el dato al multiplicar por el peso va a tener mayor valor
#Verbose 0 es para que no imprima el entrenamiento
import tensorflow as tf 

def red_neuronal_entrenar_modelo(xtr, ytr, xvl, yvl):
    tf.keras.utils.set_random_seed(45)
    
    model = tf.keras.models.Sequential([
        tf.keras.layers.Dense(units=32, activation='relu', input_shape=(3,)),
        tf.keras.layers.Dense(units=16, activation='relu'),
        tf.keras.layers.Dense(units=1, activation='sigmoid')
    ])
    model.compile(optimizer='adam', loss='BinaryCrossentropy', metrics = ['accuracy'])
    model.fit(xtr,ytr, epochs=10, verbose=0)
    train_loss, train_acc= model.evaluate(xtr,ytr, verbose=0)
    val_loss, val_acc= model.evaluate(xvl,yvl, verbose=0)
    
    print(f'Exactitud entrenamiento/validación: {100*train_acc:.2f}%/{100*val_acc:.2f}%')
    return model

In [33]:
#sin escalamiento
print('Desempeño SIN escalamiento de los datos de entrada:')
red_neuron = red_neuronal_entrenar_modelo(x_train,y_train, x_vl, y_vl)

#Con escalamiento
print('-'*40)
print('Desempeño con escalamiento de los datos de entrada:')
red_neuron_s = red_neuronal_entrenar_modelo(x_train_s,y_train,x_vl_s,y_vl)

Desempeño SIN escalamiento de los datos de entrada:
Exactitud entrenamiento/validación: 58.90%/56.25%
----------------------------------------
Desempeño con escalamiento de los datos de entrada:
Exactitud entrenamiento/validación: 93.94%/94.22%

In [19]:
#Coeficientes Red Neuronal SIN escalamiento
red_neuron.layers[1].get_weights()

[array([[-2.4718636e-01, -1.8503041e+04,  1.7341018e-01,  1.7983706e+03],
        [ 1.3062102e-01, -2.1572915e-01,  3.3517724e-01,  2.9325527e-01],
        [ 5.5533880e-01,  1.0211474e-01, -5.0489342e-01,  3.3341950e-01],
        [-2.1792060e-01, -4.6699463e+03,  2.3186988e-01, -1.9861357e+13],
        [ 4.5882326e-01,  1.5745020e-01, -6.0897124e-01, -4.2970195e-01],
        [-3.6656579e-01, -4.9566865e-02,  2.6208866e-01, -1.0276765e-01],
        [ 5.9211951e-01,  6.1050278e-01, -6.0264009e-01, -5.3129709e-01],
        [-2.5844395e-01, -1.0213352e+04, -6.2652063e-01, -8.6081101e+12]],
       dtype=float32),
 array([ 0.0000000e+00, -1.9214943e-03,  0.0000000e+00, -7.2077454e+01],
       dtype=float32)]

In [20]:
#Coeficientes Red Neuronal CON escalamiento
red_neuron_s.layers[1].get_weights()

[array([[ 3.6735728e-02,  8.4091616e-01,  1.7341018e-01,  6.6802531e-01],
        [ 1.3062102e-01, -2.1572915e-01,  3.3517724e-01,  2.9325527e-01],
        [ 8.0418640e-01,  4.5932651e-01, -5.0489342e-01,  3.9633760e-01],
        [-2.1792054e-01, -5.6151563e-01,  2.3186988e-01,  5.8345300e-01],
        [ 4.5882326e-01,  1.5745020e-01, -6.0897124e-01, -4.2970195e-01],
        [-3.3748689e-01, -7.5236772e-04,  2.6208866e-01, -9.9634051e-02],
        [ 5.9211951e-01,  6.1050278e-01, -6.0264009e-01, -5.3129709e-01],
        [-3.1873277e-01, -4.9055067e-01, -6.2652063e-01, -4.0086383e-01]],
       dtype=float32),
 array([ 0.07711303, -0.04866672,  0.        , -0.02935784], dtype=float32)]

In [39]:
#Prediccion con el modelo que mejor resultados a dado
y_pred = red_neuron_s.predict(x_test_s)
y_pred = (y_pred>=0.5).astype(int)
print(y_pred)
cm = confusion_matrix(y_test, y_pred)
num_one = sum(y_pred)
num_onetr = sum(y_test)
print(num_onetr)
print(num_one)
print(cm)

21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 697us/step
[[1]
 [0]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [1]
 [0]
 [1]
 [0]
 [0]
 [1]
 [1]
 [1]
 [1]
 [0]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [1]
 [0]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [1]
 [0]
 [0]
 [1]
 [1]
 [1]
 [1]
 [0]
 [0]
 [1]
 [0]
 [1]
 [1]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [1]
 [0]
 [1]
 [1]
 [0]
 [1]
 [1]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [1]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [0]
 [1]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [1]
 [0]
 [1]
 [1]
 [0]
 [1]
 [1]
 [1]
 [0]
 [1]
 [1]
 [0]
 [1]
 [0]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [0]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [1]
 [1]
 [1]
 [1]
 [0]
 [1]
 [0]
 [0]
 [1]
 [0]
 [1]
 [1]
 [1]
 [1]
 [1]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [1]
 [1]
 [1]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [0]
 [0]
 [1]
 [1]
 [1]
 [1]
 [0]
 [0]
 [1]
 [0]
 [1]
 [1]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [1]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [1]
 [1]
 [1]
 [0]
 [0]
 [1]
 [0]
 [1]
 [1]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [1]
 [0]
 [0]
 [1]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [0]
 [0]
 [1]
 [1]
 [0]
 [1]
 [0]
 [0]
 [1]
 [1]
 [1]
 [1]
 [0]
 [1]
 [1]
 [1]
 [0]
 [1]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [1]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [0]
 [1]
 [0]
 [1]
 [1]
 [0]
 [0]
 [1]
 [0]
 [1]
 [1]
 [1]
 [0]
 [0]
 [0]
 [1]
 [1]
 [1]
 [1]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [1]
 [1]
 [1]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [0]
 [1]
 [0]
 [0]
 [1]
 [1]
 [1]
 [0]
 [0]
 [0]
 [1]
 [1]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [0]
 [1]
 [0]
 [0]
 [1]
 [1]
 [0]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [1]
 [0]
 [1]
 [1]
 [0]
 [1]
 [0]
 [1]
 [0]
 [1]
 [0]
 [1]
 [1]
 [0]
 [0]
 [1]
 [1]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [0]
 [1]
 [0]
 [1]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [1]
 [0]
 [1]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [1]
 [0]
 [1]
 [0]]
229
[263]
[[376  36]
 [  2 227]]